{% extends 'base.html.twig' %}

{% block title %}Bahagian index{% endblock %}

{% block content %}
    <div class="pagetitle">
          <h1>Dashboard</h1>
          <nav>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{{ path('app_dashboard_index') }}">Home</a></li>
              <li class="breadcrumb-item active">Bahagian</li>
            </ol>
          </nav>
    </div>
    <h1>Bahagian index</h1>
        <div  class="row">
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Gauge Chart</h5>
                    <!-- gauge Chart -->
                    <canvas id="canvas2" style="max-height: 400px;"></canvas>
                </div>              
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Gauge Chart</h5>
                    <!-- gauge Chart -->
                    <canvas id="canvas2" style="max-height: 400px;"></canvas>
                </div>              
        </div>
    </div>
<script src="https://unpkg.com/chart.js@2.8.0/dist/Chart.bundle.js"></script>
<script src="https://unpkg.com/chartjs-gauge@0.3.0/dist/chartjs-gauge.js"></script>
        <script>
        
            var data = 0;
            
            {# if(data!=0){
                data = document.getElementById('thisdata').value;
            }else{
                data = 0;
            } #}
    
            var ctx = document.getElementById("canvas2").getContext("2d");
            var chart =  new Chart(ctx, {
            type: 'gauge',
            data: {
                datasets: [{
                value: 10,
                minValue: 0,
                data: [0,10, 25, 50,75, 100],
                backgroundColor: ['red','red', 'yellow', 'orange', 'blue','green'],
                }],
            },
            options: {
                responsive: true,
                needle: {
                radiusPercentage: 2,
                widthPercentage: 3.2,
                lengthPercentage: 80,
                color: 'rgba(0, 0, 0, 1)'
                },
                valueLabel: {
                display: true,
                formatter: (value) => {
                    return '$' + Math.round(value);
                },
                color: 'rgba(255, 255, 255, 1)',
                backgroundColor: 'rgba(0, 0, 0, 1)',
                borderRadius: 5,
                padding: {
                    top: 10,
                    bottom: 10
                }
                }
            },
            });
           
            
            
            {# chart.update();
            
            document.getElementById('thisdata').addEventListener('click', function() {
      config.data.datasets.forEach(function(dataset) {
        dataset.data = randomData();
        dataset.value = randomValue(dataset.data);
      });
    
      window.myGauge.update();
    }); #}
           
           </script>


    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for bahagian in bahagians %}
            <tr>
                <td>{{ bahagian.id }}</td>
                <td>
                    <a href="{{ path('app_bahagian_show', {'id': bahagian.id}) }}">show</a>
                    <a href="{{ path('app_bahagian_edit', {'id': bahagian.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_bahagian_new') }}">Create new</a>

{% endblock %}

