{% extends 'base.html.twig' %}

{% block title %}Bahagian index{% endblock %}

{% block content %}
    <div class="pagetitle">
          <h1>Dashboard</h1>
          <nav>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{{ path('app_dashboard_index') }}">Home</a></li>
              <li class="breadcrumb-item active">Bahagian</li>
            </ol>
          </nav>
    </div>
    <h1>Bahagian index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for bahagian in bahagians %}
            <tr>
                <td>{{ bahagian.id }}</td>
                <td>
                    <a href="{{ path('app_bahagian_show', {'id': bahagian.id}) }}">show</a>
                    <a href="{{ path('app_bahagian_edit', {'id': bahagian.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_bahagian_new') }}">Create new</a>
{% endblock %}

